<!-- As a link -->
<nav class="navbar navbar-light bg-light">
  <div class="container-fluid">
    <a class="navbar-brand" href="#">logo here</a>
  </div>
</nav>

<!-- As a heading -->
<nav class="navbar navbar-light bg-light">
  <div class="container-fluid">
    <span class="navbar-brand mb-0 h1">Select Topics You Are Interested In </span>
  </div>
</nav>

<div style="width: 100%; background-color: rgb(238, 238, 238);">

<div class="container">
  <div class="row ">
    <div class="interest-pic-div col-lg-6 mt-5 " onclick="indClick.indClickSub('ind-sports')">
      <div  class="interest-pic-div-sep col-lg-12 j">
                  <img class="interest-pic shadow  " src="images/intrest/sports.jpeg" width="100%" height="100%" alt="">
                  <div class="interest-pic-cover-div row align-items-center text-center text-light text-shadow">
                    <h1>SPORTS</h1>
                     <div class="ind-checked-div" id="ind-sports">
                      <img style="width: 200px;" src="images/tick.png" alt="">
                  </div>
                    </div>
                 

      </div>
     </div>
     
     <div class="interest-pic-div col-lg-6 mt-5  "onclick="indClick.indClickSub('ind-automotive')" >
      <div class="interest-pic-div-sep col-lg-12">       <img class="interest-pic shadow " src="images/intrest/automotive.jpeg" width="100%" height="100%" alt="">
                        <div class="interest-pic-cover-div row align-items-center text-center text-light text-shadow"><h1>AUTOMOTIVE</h1>
                        <div class="ind-checked-div" id="ind-automotive">
                      <img style="width: 200px;" src="images/tick.png" alt="">
                  </div>
                  </div>
                        

</div>
     </div>
    
     <div class="interest-pic-div col-lg-6  mt-5 " onclick="indClick.indClickSub('ind-politics')">
            <div class="interest-pic-div-sep col-lg-12">
                        <img class="interest-pic shadow " src="images/intrest/politics.jpeg" width="100%" height="100%" alt="">
                                          <div class="interest-pic-cover-div row align-items-center text-center text-light text-shadow"><h1>POLITICS</h1>
                                          
                                          <div class="ind-checked-div" id="ind-politics">
                      <img style="width: 200px;" src="images/tick.png" alt="">
                  </div></div>


            </div>

     </div>
      <div class="interest-pic-div col-lg-6  mt-5 " onclick="indClick.indClickSub('ind-moviesSeries')">
              <div class="interest-pic-div-sep col-lg-12">
                          <img class="interest-pic shadow " src="images/intrest/moviesSeries.jpeg" width="100%" height="100%" alt="">
                                            <div class="interest-pic-cover-div row align-items-center text-center text-light text-shadow"><h1>MOVIES/SERIES</h1>
                                            <div class="ind-checked-div" id="ind-moviesSeries">
                      <img style="width: 200px;" src="images/tick.png" alt="">
                  </div>
                                            </div>


              </div>

     </div>

      <div class="interest-pic-div col-lg-6  mt-5 "onclick="indClick.indClickSub('ind-tech')" >
              <div class="interest-pic-div-sep col-lg-12">
                          <img class="interest-pic shadow " src="images/intrest/tech.jpeg" width="100%" height="100%" alt="">
                                            <div class="interest-pic-cover-div row align-items-center text-center text-light text-shadow"><h1>TECH</h1>
                                            <div class="ind-checked-div" id="ind-tech">
                      <img style="width: 200px;" src="images/tick.png" alt="">
                  </div>
                                            </div>


              </div>

     </div>
      <div class="interest-pic-div col-lg-6  mt-5 " onclick="indClick.indClickSub('ind-music')">
              <div class="interest-pic-div-sep col-lg-12">
                          <img class="interest-pic shadow " src="images/intrest/music.jpeg" width="100%" height="100%" alt="">
                                            <div class="interest-pic-cover-div row align-items-center text-center text-light text-shadow"><h1>MUSIC</h1>
                                            <div class="ind-checked-div" id="ind-music">
                      <img style="width: 200px;" src="images/tick.png" alt="">
                  </div>
                                            </div>

<!-- As a link -->
<nav class="navbar navbar-light bg-light">
  <div class="container-fluid">
    <a class="navbar-brand" href="#">Navbar</a>
  </div>
</nav>

<!-- As a heading -->
<nav class="navbar navbar-light bg-light">
  <div class="container-fluid">
    <span class="navbar-brand mb-0 h1">Navbar</span>
  </div>
</nav>
              </div>

     </div>
      <div class="interest-pic-div col-lg-6  mt-5  " onclick="indClick.indClickSub('ind-books')">
        <div class="interest-pic-div-sep col-lg-12">
                    <img class="interest-pic shadow  "  src="images/intrest/books.jpeg" width="100%" height="100%" alt="">
                                      <div class="interest-pic-cover-div row align-items-center text-center text-light text-shadow"><h2>BOOKS</h2>
                                      <div class="ind-checked-div" id="ind-books">
                      <img style="width: 200px;" src="images/tick.png" alt="">
                  </div>
                                      </div>

b </div>
     </div>

      <div class="interest-pic-div col-lg-6 mt-5   " onclick="indClick.indClickSub('ind-crypto')">
              <div class="interest-pic-div-sep col-lg-12">     
                     <img class="interest-pic shadow " src="images/intrest/crypto.jpeg" width="100%" height="100%" alt="">
                                       <div class="interest-pic-cover-div row align-items-center text-center text-light text-shadow"><h2>CRYPTO</h2>
                                       <div class="ind-checked-div" id="ind-crypto">
                      <img style="width: 200px;" src="images/tick.png" alt="">
                  </div>
                                       </div>

</div>

     </div>

      <div class="interest-pic-div col-lg-6 mt-5   " onclick="indClick.indClickSub('ind-money')">
              <div class="interest-pic-div-sep col-lg-12">     
                     <img class="interest-pic shadow " src="images/intrest/money.jpeg" width="100%" height="100%" alt="">
                                       <div class="interest-pic-cover-div row align-items-center text-center text-light text-shadow"><h2>MONEY</h2>
                                       <div class="ind-checked-div" id="ind-money">
                      <img style="width: 200px;" src="images/tick.png" alt="">
                  </div>
                                       </div>

</div>

     </div>

     <div class="interest-pic-div col-lg-6 mt-5  " onclick="indClick.indClickSub('ind-trading')">
            <div class="interest-pic-div-sep col-lg-12" >         
               <img class="interest-pic shadow " src="images/intrest/trading.jpeg" width="100%" height="100%" alt="">
                                 <div class="interest-pic-cover-div row align-items-center text-center text-light text-shadow"><h2>TRADING</h2>
                                    <div class="ind-checked-div" id="ind-trading">
                                        <img style="width: 200px;" src="images/tick.png" alt="">
                                    </div>
                                 </div>

</div>

     </div>
  </div>
  <div class="mt-5 mb-5">
  <nav class="navbar navbar-light bg-light">
  <div class="container-fluid">
    <a class="navbar-brand" href="#"><span class="ind-count" id="indCount">0</span> Topics Selected</a>
    
    <button onclick="indClick.intSubmit()" class="btn btn-success"> Continue SignIn &#8674;</button>
  </div>
</nav>
</div>
</div>

</div>



