<div style="width: 100%; background-color: rgb(238, 238, 238);">

<div class="container">
  <div class="row ">
    <div class="interest-pic-div col-lg-6 mt-5 " onclick="indClick()">
      <div  class="interest-pic-div-sep col-lg-12 j">
                  <img class="interest-pic shadow  " src="images/intrest/sports.jpeg" width="100%" height="100%" alt="">
                  <div class="interest-pic-cover-div row align-items-center text-center text-light text-shadow">
                    <h1>SPORTS</h1>
                     <div class="ind-checked-div">
                      <img style="width: 200px;" src="images/tick.png" alt="">
                  </div>
                    </div>
                 

      </div>
     </div>
     
     <div class="interest-pic-div col-lg-6 mt-5  " >
      <div class="interest-pic-div-sep col-lg-12">       <img class="interest-pic shadow " src="images/intrest/automotive.jpeg" width="100%" height="100%" alt="">
                        <div class="interest-pic-cover-div row align-items-center text-center text-light text-shadow"><h1>AUTOMOTIVE</h1></div>

</div>
     </div>
    
     <div class="interest-pic-div col-lg-6  mt-5 " >
            <div class="interest-pic-div-sep col-lg-12">
                        <img class="interest-pic shadow " src="images/intrest/politics.jpeg" width="100%" height="100%" alt="">
                                          <div class="interest-pic-cover-div row align-items-center text-center text-light text-shadow"><h1>POLITICS</h1></div>


            </div>

     </div>
      <div class="interest-pic-div col-lg-6  mt-5 " >
              <div class="interest-pic-div-sep col-lg-12">
                          <img class="interest-pic shadow " src="images/intrest/moviesSeries.jpeg" width="100%" height="100%" alt="">
                                            <div class="interest-pic-cover-div row align-items-center text-center text-light text-shadow"><h1>MOVIES/SERIES</h1></div>


              </div>

     </div>

      <div class="interest-pic-div col-lg-6  mt-5 " >
              <div class="interest-pic-div-sep col-lg-12">
                          <img class="interest-pic shadow " src="images/intrest/tech.jpeg" width="100%" height="100%" alt="">
                                            <div class="interest-pic-cover-div row align-items-center text-center text-light text-shadow"><h1>TECH</h1></div>


              </div>

     </div>
      <div class="interest-pic-div col-lg-6  mt-5 " >
              <div class="interest-pic-div-sep col-lg-12">
                          <img class="interest-pic shadow " src="images/intrest/music.jpeg" width="100%" height="100%" alt="">
                                            <div class="interest-pic-cover-div row align-items-center text-center text-light text-shadow"><h1>MUSIC</h1></div>


              </div>

     </div>
      <div class="interest-pic-div col-lg-6  mt-5  " >
        <div class="interest-pic-div-sep col-lg-12">
                    <img class="interest-pic shadow  "  src="images/intrest/books.jpeg" width="100%" height="100%" alt="">
                                      <div class="interest-pic-cover-div row align-items-center text-center text-light text-shadow"><h2>BOOKS</h2></div>

b </div>
     </div>

      <div class="interest-pic-div col-lg-6 mt-5   " >
              <div class="interest-pic-div-sep col-lg-12">     
                     <img class="interest-pic shadow " src="images/intrest/crypto.jpeg" width="100%" height="100%" alt="">
                                       <div class="interest-pic-cover-div row align-items-center text-center text-light text-shadow"><h2>CRYPTO</h2></div>

</div>

     </div>

      <div class="interest-pic-div col-lg-6 mt-5   " >
              <div class="interest-pic-div-sep col-lg-12">     
                     <img class="interest-pic shadow " src="images/intrest/money.jpeg" width="100%" height="100%" alt="">
                                       <div class="interest-pic-cover-div row align-items-center text-center text-light text-shadow"><h2>MONEY</h2></div>

</div>

     </div>

     <div class="interest-pic-div col-lg-6 mt-5  " >
            <div class="interest-pic-div-sep col-lg-12" >         
               <img class="interest-pic shadow " src="images/intrest/trading.jpeg" width="100%" height="100%" alt="">
                                 <div class="interest-pic-cover-div row align-items-center text-center text-light text-shadow"><h2>TRADING</h2></div>

</div>

     </div>
  </div>

</div>
  
</div>