<nav class="navbar bg-body-tertiary">
  <div class="container-fluid">
    <a class="navbar-brand">Navbar</a>
    <form class="d-flex" role="search">
      <input class="form-control me-2" type="search" placeholder="Search" aria-label="Search">
      <button class="btn btn-outline-success" type="submit">Search</button>
    </form>
    <div class="icon-div">
{{#if user}}
      <div class="profile-div my-card ">
        <a href="/profile"><img class="profile-div-img" id="profilePic" src="images/defult-dp-icon.jpg" alt=""></a>
      </div> 
      
      {{else}}
       <div class="profile-div my-card ">
        <img class="profile-div-img" id="DummieProPic" src="images/defult-dp-icon.jpg" alt="">
      </div>
{{/if}}
    </div>
  </div>
</nav>


<div class="modal fade" id="myModal" tabindex="-1" aria-labelledby="myModalLabel" aria-hidden="true">
  <div class="modal-dialog" style="border-radius: 40px;" role="document">
    <div class="modal-content" style="background-color: aliceblue;">
      <div class="modal-header">
        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
      </div>
      <div class="modal-body">
        <h3 class="text-center">Login</h3>
        <form role="form" method="post" action="/sign-in">
          <div class="form-group">
            <label for="username">Username</label>
            <input name="username" type="text" class="form-control" id="username" placeholder="Enter email" style="border-radius:20px;">
          </div>
          <div class="form-group mt-3">
            <label for="password">Password</label>
            <input name="password" type="password" class="form-control" id="password" placeholder="Enter password" style="border-radius:20px;">
          </div>
          <div class="mt-5 " style="display:flex;justify-content: space-between;" >
            <button type="button" onclick="window.location.href='/sign-up'"class="btn btn-primary" style="border-radius:20px;">Create Account</button>
            <button type="submit" class="btn btn-success " style="border-radius:20px;">Login</button>
          </div>
        </form>
      </div>
    </div>
  </div>
</div>
  