<nav class="navbar bg-body-tertiary">
  <div class="container-fluid">
    <a class="navbar-brand">Navbar</a>
      <button class="btn btn-outline-success" id="searchBtn" >Search</button>
    <div>
      <a href="/chat" class="btn btn-secondary">Chat</a>
    </div>
    <div class="icon-div">
{{#if user.passport.user}}
 <div class="profile-div my-card ">
       <a href="/profile"><img class="profile-div-img" id="DummieProPic" src="images/users/profilePictures/{{user.passport.user.cryptoId}}.jpg" alt=""></a> 
      </div>
      
      
      {{else}}
       <div class="profile-div my-card ">
     <img class="profile-div-img" id="profilePic" src="images/defult-dp-icon.jpg" alt="">
      </div> 
{{/if}}
    </div>
  </div>
</nav>

{{!-- login model --}}
<div class="modal fade" id="myModal" tabindex="-1" aria-labelledby="myModalLabel" aria-hidden="true">
  <div class="modal-dialog" style="border-radius: 40px;" role="document">
    <div class="modal-content" style="background-color: aliceblue;">
      <div class="modal-header">
        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
      </div>
      <div class="modal-body">
        <h3 class="text-center">Login</h3>
        <form role="form" method="post" action="/sign-in">
          <div class="form-group">
            <label for="username">Username</label>
            <input name="username" type="text" class="form-control" id="username" placeholder="Enter email" style="border-radius:20px;">
          </div>
          <div class="form-group mt-3">
            <label for="password">Password</label>
            <input name="password" type="password" class="form-control" id="password" placeholder="Enter password" style="border-radius:20px;">
          </div>
          <div class="mt-5 " style="display:flex;justify-content: space-between;" >
            <button type="button" onclick="window.location.href='/sign-up'"class="btn btn-primary" style="border-radius:20px;">Create Account</button>
            <button type="submit" class="btn btn-success " style="border-radius:20px;">Login</button>
          </div>
        </form>
      </div>
    </div>
  </div>
</div>

{{!-- search model --}}
  <div class="modal fade" id="searchModel" role="dialog">
    <div class="modal-dialog col-lg-6" role="document" style="background-color: rgb(241, 241, 241)"role="document">
      <div class="modal-content p-2"  >
        <button type="button" class="btn-close mb-4" data-bs-dismiss="modal" aria-label="Close"></button>

            <div class="d-flex" id="searchForm">
            <input class="form-control me-2" id="search" name="search"  placeholder="Search" aria-label="Search">
            <button class="btn btn-outline-success" id="userSearchBtn">Search</button>
          </div>
        <div class="found-users-div" id="foundUsersDiv">
          
        </div>
        
        </div>
             
      </div>
      
    </div>
    </div>

 
  <script>
  document.getElementById("userSearchBtn").addEventListener("click",function(){
      const searchTerm = document.getElementById("search").value;
      findfun.findUsersAjax(searchTerm)

  })

   
   
  </script>