<div class="container">
  <form method="post" action="/upload/{{user.passport.user.cryptoId}}">
  <div class="form-group">
    <label for="exampleFormControlTextarea1">enter your Caption here</label>
    <textarea name="caption" class="form-control" id="exampleFormControlTextarea1" rows="3"></textarea>
  </div>
   
   <label for="exampleFormControlInput1" class="form-label">Tags</label>
  <input name="tags" type="text" class="form-control" id="exampleFormControlInput1" placeholder="tags here">

<div>
  <label for="formFileLg" class="form-label"></label>
  <input name="post" class="form-control form-control-lg" id="formFileLg" type="file" multiple>
</div>

<button class="btn btn-success mt-3 " type="submit">post</button>
</form>

</div>