<div class="container">
  <form method="post" enctype="multipart/form-data">
  <div class="form-group">
    <label for="exampleFormControlTextarea1">enter your Caption here</label>
    <textarea name="caption" class="form-control" id="exampleFormControlTextarea1" rows="3"></textarea>
  </div>
   
<div>
  <label for="formFileLg" class="form-label"></label>
  <input name="file" class="form-control form-control-lg" id="formFileLg" type="file" >
</div>

<button class="btn btn-success mt-3 " = type="submit">post</button>
</form>

</div>