<div class="container">
  <form action="/logout" method="post">
<button type="submit">logout</button>
</form> 


<div class="card" style="width: 18rem;">
  
  <div class="card-body">
    <img width="50px" src="./images/add-post.png" alt="">    
    <a href="/add-post" class="btn btn-primary">add POST</a>
  </div>
</div>
</div>
